venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.db
*.sqlite
*.sqlite3
instance/
.webassets-cache
.env
.venv
.DS_Store
.vscode/
.idea/
*.log
uploads/*
!uploads/.gitkeep
